body
  background: #555B6E
  transition: background 0.3s ease-in-out
  text-align: center    
  
h1
  color: white
  font-weight: 100
  letter-spacing: 2px
  margin: 10px

#radius
  margin-bottom: 10px
  
  span
    color: white
    font-size: 20px
  
  input
    padding: 5px
    
#types
  margin-bottom: 20px 
  display: inline-flex
  
  button
    background: #FCFFFD
    width: 300px
    max-width: 300px
    overflow: hidden
    border-radius: 0
    outline: none
  
  ul
    background: #FCFFFD
    border-radius: 0
    text-align: center
    
    li
      width: 298px
      cursor: pointer

#map
  height: 400px
  width: 800px
  display: block
  margin: 0 auto 10px
  background: #222
  border: solid 1px black
  
#search-bar
  display: block
  margin: 20px 0
  
  #search-input
    width: 400px
    padding: 5px
    outline: none
    border: none
    box-shadow: 0px 3px 20px rgba(0,0,0,0.3)
  
  #search-click
    height: 28px
    width: 28px
    cursor: pointer
    margin:
      bottom: 5px
      left: 10px  
      
.place
  position: relative
  display: block
  width: 800px
  margin: 10px auto
  padding: 5px
  background: #FCFFFD
  text-align: justify
  box-shadow: 0px 3px 20px rgba(0,0,0,0.3)
  cursor: pointer
  transition: background 0.15s ease-in-out
  
  &:hover
    background: #444
    p
      color: #fffafa
  
  p
    display: inline
    margin:
      bottom: -10px
      left: 5px
      
  
  img
    height: 22px
    width: 22px
      
.active-style
  background: #444
  p
    color: #fffafa
    
@media (max-width: 850px) 
  .place
    width: 400px
   
  #map
    height: 300px
    width: 400px
    
@media (max-width: 460px)    
  .place
    width: 300px
  
  #map
    height: 250px
    width: 300px
    
  #search-bar
    #search-input
      width: 275px
    
    #search-click
      width: 22px
      height: 22px
  
  #radius
    input
      padding: 0 5px
    span
      font-size: 17px